.cproject
.project
*.cmake
Makefile
.settings
*~
cmake_modules
*.cbp
*.so
*.a
*.so.*
CMakeCache.txt
CMakeFiles
install_manifest.txt
DartConfiguration.tcl
Doxyfile
*.layout
Testing
.svn
_CPack_Packages
*.exe
*.dll
CMakeDoxyfile.in
*.exp
*.ilk
*.lib
*.pdb
globalplatform.pc
scp03Test
*.zip
*-bundle
.idea
.iml
target
helloworld.iml
*.tar.gz
gpshell.1
*.vcxproj
*.filters
*.sln
globalplatform/doc
gpshell/src/gpshell
scp01Test
scp02Test
*.user
.vs
*.dir
Win32
*.manifest
