Source: libglobalplatform6
Priority: extra
Maintainer: Karsten Ohme <k_o_@users.sourceforge.net>
Build-Depends: debhelper (>=5), autotools-dev, libpcsclite-dev (>=1.2.9), zlib1g-dev (>= 1:1.2.3), libssl-dev (>= 0.9.7e), doxygen (>=1.4), pkg-config (>=0.20-1), check (>=0.9.2)
Standards-Version: 3.8.0
Section: libs
Homepage: http://globalplatform.sourceforge.net

Package: libglobalplatform6-dev
Section: libdevel
Architecture: any
Depends: libglobalplatform6 (= ${binary:Version})
Description: GlobalPlatform Smart Card Management Library Dev Files
 GlobalPlatform is a standard for the management of the contents on a smart card.
 Mainly this comprises the installation and the removal of applications.
 The project offers a C library and a command shell.
 These are the development files.

Package: libglobalplatform6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libgppcscconnectionplugin1
Suggests: gpshell
Description: GlobalPlatform Smart Card Management Library
 GlobalPlatform is a standard for the management of the contents on a smart card.
 Mainly this comprises the installation and the removal of applications.
 The project offers a C library and a command shell.
