<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="CM_CP_gpshell_path_component" Guid="*">
        <RegistryValue Root="HKLM"
                       Key="Software\GPShell"
                       Name="PathEnv"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
        <Environment Id="CM_CP_gpshell_path_env"
                     Name="PATH"
                     Value="[INSTALL_ROOT]bin"
                     Action="set"
                     Part="last"
                     System="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <FeatureRef Id="ProductFeature">
      <ComponentRef Id="CM_CP_gpshell_path_component" />
    </FeatureRef>
  </Fragment>
</Wix>
