Source: gpshell
Priority: extra
Maintainer: Karsten Ohme <k_o_@users.sourceforge.net>
Build-Depends: debhelper (>= 7), libpcsclite-dev (>=1.2.9), pkg-config (>=0.22), libglobalplatform6-dev
Standards-Version: 3.8.0
Section: devel
Homepage: http://globalplatform.sourceforge.net

Package: gpshell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GPShell
 GPShell is a command line shell for GlobalPlatform conform smart cards.
